<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm padding-top">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="exampleInputEmail1" formControlName="fullName">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter full name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" formControlName="email"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" formControlName="password"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <label for="password">Re-Enter Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
            <label for="pan" formControlName="pan">PAN</label>
            <input
              type="text"
              class="form-control"
              id="pan"
              placeholder="Enter PAN number"
            />
          </div>
          <div class="form-group">
              <label for="pan" formControlName="bankAccountnumber">Account Number</label>
              <input
                type="text"
                class="form-control"
                id="bankAccountnumber"
                placeholder="Enter Account number"
              />
            </div>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button
                type="submit"
                (ngSubmit)="update()"
                class="btn btn-primary width"
              >
                Sign Up
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
